ESA 4 Roman Bauer

In [ ]:
import pandas as pd

In [7]:
import numpy as np

In [144]:
#Loading the Data as raw material
url = 'https://github.com/edlich/eternalrepo/blob/master/DS-WAHLFACH/countries.csv?raw=true'
countries = pd.read_csv(url)

In [47]:
print(countries.head(5))

       Name     People     Area   BIP Currency
0   Germany   82521653   357385  3466      EUR
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

In [48]:
# Display some basic information as rows, columns and some basic statistical info.
print(countries.columns)
print(countries.index)
print(countries.Name)

Index(['Name', 'People', 'Area', 'BIP', 'Currency'], dtype='object')
RangeIndex(start=0, stop=5, step=1)
0     Germany
1       Japan
2      Canada
3       Italy
4    Brazilia
Name: Name, dtype: object

In [53]:
countries.describe()

             People          Area         BIP
count  5.000000e+00  5.000000e+00     5.00000
mean   1.027863e+08  3.907400e+06  2716.20000
std    6.759970e+07  4.904957e+06  1457.86083
min    3.650310e+07  3.013380e+05  1529.00000
25%    6.050172e+07  3.573850e+05  1798.00000
50%    8.252165e+07  3.778350e+05  1850.00000
75%    1.260450e+08  8.515770e+06  3466.00000
max    2.083600e+08  9.984670e+06  4938.00000

In [31]:
# Show the last 4 rows of the data frame.
countries.tail(4)

       Name     People     Area   BIP Currency
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

In [52]:
# Show all the row of countries who have the EURO
countries[countries['Currency'] == 'EUR']

      Name    People    Area   BIP Currency
0  Germany  82521653  357385  3466      EUR
3    Italy  60501718  301338  1850      EUR

In [56]:
# Show only name and Currency in a new data frame
new_df = countries.drop(['People', 'Area', 'BIP'], axis=1)
new_df

       Name Currency
0   Germany      EUR
1     Japan      YEN
2    Canada      CAD
3     Italy      EUR
4  Brazilia     REAL

In [58]:
# Show only the rows/countries that have more than 2000 BIP
countries[countries['BIP'] > 2000]

      Name     People    Area   BIP Currency
0  Germany   82521653  357385  3466      EUR
1    Japan  126045000  377835  4938      YEN

In [70]:
# Select all countries where with inhabitants between 50 and 150 Mio
countries[(countries['People'] >= 50000000) & (countries['People'] <= 150000000)]

      Name     People    Area   BIP Currency
0  Germany   82521653  357385  3466      EUR
1    Japan  126045000  377835  4938      YEN
3    Italy   60501718  301338  1850      EUR

In [63]:
# Change BIP to Bip
countries.rename(columns={'BIP': 'Bip'})

       Name     People     Area   Bip Currency
0   Germany   82521653   357385  3466      EUR
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

In [65]:
# Calculate the Bip sum
print('Sum:', countries['BIP'].sum())

Sum: 13581

In [67]:
# Calculate the average people of all countries
print('Mean:', countries['People'].mean())

Mean: 102786293.6

In [68]:
# Sort by name alphabetically
countries.sort_values(by=['Name'])

       Name     People     Area   BIP Currency
4  Brazilia  208360000  8515770  1798     REAL
2    Canada   36503097  9984670  1529      CAD
0   Germany   82521653   357385  3466      EUR
3     Italy   60501718   301338  1850      EUR
1     Japan  126045000   377835  4938      YEN

In [151]:
# Create a new data frame from the original where the area is changed as follows: 
# all countries with > 1000000 get BIG and <= 1000000 get SMALL in the cell replaced!
changed_area_df = countries
changed_area_df['Area'].mask(changed_area_df['Area'] > 1000000, 'BIG', inplace=True)  
changed_area_df['Area'].mask(changed_area_df['Area'] != 'BIG', 'SMALL', inplace=True)

changed_area_df

       Name     People   Area   BIP Currency
0   Germany   82521653  SMALL  3466      EUR
1     Japan  126045000  SMALL  4938      YEN
2    Canada   36503097    BIG  1529      CAD
3     Italy   60501718  SMALL  1850      EUR
4  Brazilia  208360000    BIG  1798     REAL